

body {
    background-color: hsl(212, 45%, 89%);

}

.box {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 10%  auto;
    padding: 20px;
    width: 300px;
    max-width: 300px;
    text-align: center;
}

.qr_code {
    width: 100%;
    border-radius: 10px;
}

.text {
    width: 95%;
    margin: auto;
    text-align: center;
}

.large_txt {
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.small_txt {
    font-family: 'Outfit', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}